body{
    font-family: "Gudea", "Heiti", "微軟正黑體", "Microsoft JhengHei";
    max-width: 1100px;
    margin: 0 auto;
}
section{
    margin-top: 80px;
}
a{
    transition: color .45s;
}
h2{
    width: 260px;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    color: #222;
    position: relative;
}
h2::before{
    content: "";
    border-width: 18px 18px 0 0;
    border-color: #11d073 transparent transparent;
    position: absolute;
    left: -10px;
    top: 0;
    width: 0;
    height: 0;
    z-index: -1;
    border-style: solid;
}

h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
    transition: color .45s;
}
.fs-18{
    font-size: 18px;
    font-weight: 700;
    color: white;
}

h4{
    font-size: 20px;
    font-weight: 700;
}
span{
    color: rgb(250, 182, 23);
    font-size: 18px;
    font-weight: 700;
    padding-right: 4px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* 重複利用 */
.flex-column{
    display: flex;
    flex-direction: column;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}
.h-100{
    height: 100%;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}

/* grid */
.grid-row-3{
    grid-row: span 3;
}
.grid-row-2{
    grid-row: span 2;
}
.grid-row-1{
    grid-row: span 1;
}
.grid-col-2{
    grid-column: span 2;
}

.title{
    font-size: 14px;
    font-weight: 700;
    color: #222;
}
.price{
    font-size: 14px;
    text-align: end;
}

/* img卡片*/
.img-link{
    position: relative;
    border-radius: 10px;
    transition: box-shadow .45s;
}
.img-link:hover{
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .15);
}
.img-info{
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.info-bg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0) 45%, rgba(34, 34, 34, .6) 90%);
    position: absolute;
    bottom: 0;
}
.info-text{
    font-size: 16px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* nav */
.nav{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    gap: 22px;
}
.nav-item{
    padding: 0 5px;
    border-bottom: 3px solid transparent;
    font-size: 18px;
    color: #222;
}
.nav-item:hover{
    color: #0c9251;
}
.active{
    padding-bottom: 5px;
    border-bottom: 3px solid #11d073;
    color: #0c9251;
    font-size: 18px;
    font-weight: 700;
}

/* 焦點 */
.focus-h2::before{
    content: "";
    border-width: 36px 36px 0 0;
    border-color: #fab617 transparent transparent;
    position: absolute;
    left: -10px;
    z-index: -1;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
}
.focus{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.focus-plan{
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 105px);
    gap: 15px;
}
.focus-card{
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    transition: box-shadow .45s;
}
.focus-card-body{
    width: calc(100% - 138px);
    padding: 10px;
}
.focus-card h3{
    font-size: 14px;
    font-weight: 700;
    color: #222;
}
.focus-card-img{
    width: 118px;
    height: 75px;
    float: right;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}
.focus-card:hover h3{
    color: #0c9251;
}
.focus-card:hover{
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, .1);
}

/* 日本 & 台灣 */
.plan-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.title-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin-bottom: 20px;
}
.hint{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tag li{
    margin-right: 20px;
    margin-bottom: 10px;
}
.tag a{
    font-size: 14px;
    font-weight: 400;
    text-wrap: nowrap;
    color: #222;
}
.tag a:hover{
    color: #0c9251;
}

.card{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: box-shadow .45s;
}
.card:hover h3{
    color: #0c9251;
}
.card:hover{
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, .1);
}
.card-img{
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.card-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(250, 250, 250);
    border-radius: 0 0 10px 10px;
}
.card-price{
    color: #ff8b00;
}