body{
    max-width: 1100px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

section{
    margin-top: 80px;
}

h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    color: #222;
    position: relative;
}

h3{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

span{
    color: rgb(250, 182, 23);
}

.trig{
    border-style: solid;
    border-width: 4px 0 0 0;
    border-color: #11d073 transparent transparent transparent;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.img-link{
    position: relative;
}
.img-info{
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.info-bg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0) 45%, rgba(34, 34, 34, .6) 90%);
    position: absolute;
    bottom: 0;
}
.info-text{
    font-size: 16px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price{
    font-size: 18px;
    font-weight: 700;
    text-align: end;
}


/* nav */
.nav{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    gap: 22px;
}
.nav-item{
    padding: 0 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #222;
}
.nav-item:hover{
    color: #0c9251;
}
.active{
    margin-bottom: 5px;
    border-bottom: 3px solid #11d073;
    color: #0c9251;
    font-size: 18px;
    font-weight: 700;
}

/* 共用 */
.d-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}
.h-100{
    height: 100%;
}
.mb-20{
    margin-bottom: 20px;
}

/* 焦點 */
.focus{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.focus-plan{
    height: 100%;
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 105px);
    gap: 15px;
}
.grid-row-3{
    grid-row: span 3;
}
.grid-row-2{
    grid-row: span 2;
}
.grid-row-1{
    grid-row: span 1;
}

.focus-card{
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.focus-card-body{
    width: calc(100% - 110px);
    padding: 10px;
}
.focus-card-body h3{
    font-size: 14px;
    font-weight: 700;
    color: #222;
}
.focus-card-img{
    width: 115px;
    height: 75px;
    float: right;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}

.focus-card:hover{
    color: #0c9251;
}

/* 日本 */
.jpn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* 台灣 */
.tw-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}
.hint{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tag li{
    margin-right: 20px;
    margin-bottom: 10px;
}
.tag a{
    font-size: 14;
    font-weight: 400;
    text-wrap: nowrap;
    color: #222;
}
.tag a:hover{
    color: #0c9251;
}
.tw-plan{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.card{
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.card-img{
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.card-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(250, 250, 250);
    border-radius: 0 0 10px 10px;
}